Redirect /news/1996.09.13:SeattleTimes http://www.seattletimes.com/sbin/iarecord?NS-search-set=/323e3/aaaa0058i3e3b4f&NS-doc-offset=0&
Redirect /news/1996.08.Penthouse http://www.cirp.org/news/1996.08%3aPenthouse
Redirect /news/MedicalTribune http://www.cirp.org/news/1989.06.08%3aMedicalTribune
Redirect /news/1996.02.23:Oz.html http://www.cirp.org/news/1996.02.23%3aOz/
Redirect /news/washingtonpost02-23-02 http://www.cirp.org/news/washingtonpost06-23-02
Redirect /news/1997:Mothering/ http://www.cirp.org/news/Mothering1997/
Redirect /news/1997:Mothering http://www.cirp.org/news/Mothering1997/
Redirect /news/1997_Mothering http://www.cirp.org/news/Mothering1997/
Redirect /news/inforum12-18-02/ http://www.cirp.org/news/theforum12-18-02/
Redirect /news/inforum12-18-02 http://www.cirp.org/news/theforum12-18-02/
Redirect /news/1997.01.02:MaineTimes http://www.cirp.org/news/1997-01-02MaineTimes/
Redirect /news/1997.01.02:MaineTimesEditorial http://www.cirp.org/news/1997-01-02MaineTimes/editorial.html
Redirect /news/1995.08.08:Sweet.html http://www.cirp.org/news/1995.08.08_Sweet/
Redirect /news/1996.08.07:ColumbusAlive.html http://www.cirp.org/news/1996.08.07_ColumbusAlive/
Redirect /news/1996.09.24:CaliforniaFGM.html http://www.cirp.org/news/1996.09.24_CaliforniaFGM/
Redirect /news/1998.03.23:NYTimesFGM.html http://www.cirp.org/news/1998.03.23_NYTimesFGM/
Redirect /news/1998.03:Cockburn.html http://www.cirp.org/news/1998.03_Cockburn/
Redirect /news/1998.07.13:Symposium.html http://www.cirp.org/news/1998.07.13_Symposium/
Redirect /news/1966.07:Foley http://www.cirp.org/news/1966.07_Foley
Redirect /news/1986.05.28:lawsuit http://www.cirp.org/news/1986.05.28_lawsuit
Redirect /news/1989.06.08:MedicalTribune http://www.cirp.org/news/1989.06.08_MedicalTribune
Redirect /news/1999.03:AMN http://www.cirp.org/news/1999.03_AMN
Redirect /news/1991.03.12:Atlanta:lawsuit http://www.cirp.org/news/1991.03.12_Atlanta_lawsuit
Redirect /news/1992.07.10:boy-dies http://www.cirp.org/news/1992.07.10_boy-dies
Redirect /news/1993.01.29:DenverPost http://www.cirp.org/news/1993.01.29_DenverPost
Redirect /news/1993.06.21:death http://www.cirp.org/news/1993.06.21_death
Redirect /news/1995.07.28:HoustonChronicle http://www.cirp.org/news/1995.07.28_HoustonChronicle
Redirect /news/1996.02.23:Oz http://www.cirp.org/news/1996.02.23_Oz
Redirect /news/1996.05.29:Brisbane:ACP http://www.cirp.org/news/1996.05.29_Brisbane_ACP
Redirect /news/1996.09.06:AlabamaWrongful http://www.cirp.org/news/1996.09.06_AlabamaWrongful
Redirect /news/1996.09.14:SouthAfrica http://www.cirp.org/news/1996.09.14_SouthAfrica
Redirect /news/1996.10.12:FGM-ban http://www.cirp.org/news/1996.10.12_FGM-ban
Redirect /news/1996.10.30:Turner http://www.cirp.org/news/1996.10.30_Turner
Redirect /news/1996.11.27:UKNursingTimes http://www.cirp.org/news/1996.11.27_UKNursingTimes
Redirect /news/1996.11.29:NM http://www.cirp.org/news/1996.11.29_NM
Redirect /news/1996.11:Denver http://www.cirp.org/news/1996.11_Denver
Redirect /news/1997.04.01:AMA http://www.cirp.org/news/1997.04.01_AMA
Redirect /news/1997.05.13:dpa http://www.cirp.org/news/1997.05.13_dpa
Redirect /news/1997.05.19:StarTribune http://www.cirp.org/news/1997.05.19_StarTribune
Redirect /news/1997.10.04:Herald http://www.cirp.org/news/1997.10.04_Herald
Redirect /news/1997.10.17:Somerville http://www.cirp.org/news/1997.10.17_Somerville
Redirect /news/1997.11.17:Alberta http://www.cirp.org/news/1997.11.17_Alberta
Redirect /news/1997.12.22:PhysiciansWeekly http://www.cirp.org/news/1997.12.22_PhysiciansWeekly
Redirect /news/1997.12.23:Lander http://www.cirp.org/news/1997.12.23_Lander
Redirect /news/1998.03:SexHealth http://www.cirp.org/news/1998.03_SexHealth
Redirect /news/1998.04:Icon http://www.cirp.org/news/1998.04_Icon
Redirect /news/1998.10.20:Death http://www.cirp.org/news/1998.10.20_Death
Redirect /news/1999.11.26:Guardian http://www.cirp.org/news/1999.11.26_Guardian
Redirect /news/2000.01:Israel http://www.cirp.org/news/2000.01_Israel
Redirect /news/2000.03.08:Sweet http://www.cirp.org/news/2000.03.08_Sweet
Redirect /news/1990.08.19:Turkey http://www.cirp.org/news/1990.08.19_Turkey/
Redirect /news/1995.09.11:TorontoStar http://www.cirp.org/news/1995.09.11_TorontoStar/
Redirect /news/1995.09.23:BMJ-Ch4 http://www.cirp.org/news/1995.09.23_BMJ-Ch4/
Redirect /news/1995.10.12:AAP-convention http://www.cirp.org/news/1995.10.12_AAP-convention/
Redirect /news/1995.11.22:Mohel-lawsuit http://www.cirp.org/news/1995.11.22_Mohel-lawsuit/
Redirect /news/1995.11.26:MontrealLaPresse http://www.cirp.org/news/1995.11.26_MontrealLaPresse/
Redirect /news/1995.11.30:NYC:lawsuit http://www.cirp.org/news/1995.11.30_NYC_lawsuit/
Redirect /news/1996.03.13:Australia http://www.cirp.org/news/1996.03.13_Australia/
Redirect /news/1996.04.26:WorldMedAssoc http://www.cirp.org/news/1996.04.26_WorldMedAssoc/
Redirect /news/1996.05.02:unkindest-cut http://www.cirp.org/news/1996.05.02_unkindest-cut/
Redirect /news/1996.05.07:dermagraft http://www.cirp.org/news/1996.05.07_dermagraft/
Redirect /news/1996.05.07:pros-cons http://www.cirp.org/news/1996.05.07_pros-cons/
Redirect /news/1996.05.25:NewYorkTimes http://www.cirp.org/news/1996.05.25_NewYorkTimes/
Redirect /news/1996.05.28:WallStreetJournal http://www.cirp.org/news/1996.05.28_WallStreetJournal/
Redirect /news/1996.05.29:NewYorkTimes http://www.cirp.org/news/1996.05.29_NewYorkTimes/
Redirect /news/1996.06.07:FargoForum http://www.cirp.org/news/1996.06.07_FargoForum/
Redirect /news/1996.06.08:BismarckTribune http://www.cirp.org/news/1996.06.08_BismarckTribune/
Redirect /news/1996.06.13:AP http://www.cirp.org/news/1996.06.13_AP/
Redirect /news/1996.06.14:FGM http://www.cirp.org/news/1996.06.14_FGM/
Redirect /news/1996.06.18.BuffaloNews http://www.cirp.org/news/1996-06-18BuffaloNews/
Redirect /news/1996.07.16:ColumbusDispatch http://www.cirp.org/news/1996.07.16_ColumbusDispatch/
Redirect /news/1996.07.19.SouthAfrica http://www.cirp.org/news/1996-07-19SouthAfrica/
Redirect /news/1996.07.23.SouthAfricaEditorial http://www.cirp.org/news/1996-07-23SouthAfricaEditorial/
Redirect /news/1996.07.31.SouthAfrica http://www.cirp.org/news/1996-07-31SouthAfrica/
Redirect /news/1996.08.08:NewYorkTimesEgyptFGM http://www.cirp.org/news/1996.08.08_NewYorkTimesEgyptFGM/
Redirect /news/1996.08.21:BBC-WorldService:HealthMatters http://www.cirp.org/news/1996.08.21_BBC-WorldService_HealthMatters/
Redirect /news/1996.08.25:EgyptFGM http://www.cirp.org/news/1996.08.25_EgyptFGM/
Redirect /news/1996.08.31:Guardian http://www.cirp.org/news/1996.08.31_Guardian/
Redirect /news/1996.08:Penthouse http://www.cirp.org/news/1996.08_Penthouse/
Redirect /news/1996.08:WholeLifeTimes http://www.cirp.org/news/1996.08_WholeLifeTimes/
Redirect /news/1996.09.11:NewYorkTimesFGM http://www.cirp.org/news/1996.09.11_NewYorkTimesFGM/
Redirect /news/1996.09.13:SeattleTimes http://www.cirp.org/news/1996.09.13_SeattleTimes/
Redirect /news/1996.10.28:AMN http://www.cirp.org/news/1996.10.28_AMN/
Redirect /news/1996.10.28:Chicago http://www.cirp.org/news/1996.10.28_Chicago/
Redirect /news/1996.11.14:Casco http://www.cirp.org/news/1996.11.14_Casco/
Redirect /news/1996.11.19:UPI http://www.cirp.org/news/1996.11.19_UPI/
Redirect /news/1996.11:Mens http://www.cirp.org/news/1996.11_Mens/
Redirect /news/1996.12.02:AMN http://www.cirp.org/news/1996.12.02_AMN/
Redirect /news/1996.12.05:StPaul http://www.cirp.org/news/1996.12.05_StPaul/
Redirect /news/1996.12.16:Australia http://www.cirp.org/news/1996.12.16_Australia/
Redirect /news/1997.05.02:Pearce http://www.cirp.org/news/1997.05.02_Pearce/
Redirect /news/1997.10.08:Australia http://www.cirp.org/news/1997.10.08_Australia/
Redirect /news/1997.10.18:OttawaCitizen http://www.cirp.org/news/1997.10.18_OttawaCitizen/
Redirect /news/1997.12.29:Egypt http://www.cirp.org/news/1997.12.29_Egypt/
Redirect /news/1998.01.06:Egypt http://www.cirp.org/news/1998.01.06_Egypt/
Redirect /news/1998.06:USNews http://www.cirp.org/news/1998.06_USNews/
Redirect /news/dagensnyhter03-16-01 http://www.cirp.org/news/dagensnyheter03-16-01/
Redirect /news/thestar2008-08-26 http://www.cirp.org/news/thestar2008-06-26/
