Redirect /AAP/letters/1996.10:Hill http://www.cirp.org/AAP/letters/1996-10_Hill
Redirect /AAP/letters/1997.01:Hammond http://www.cirp.org/AAP/letters/1997-01_Hammond
Redirect /AAP/letters/1997.05:WHO http://www.cirp.org/AAP/letters/1997-05_WHO
Redirect /AAP/letters/1997.06:Warner http://www.cirp.org/AAP/letters/1997-06_Warner
Redirect /AAP/letters/1997.12:Hill http://www.cirp.org/AAP/letters/1997-12_Hill
Redirect /AAP/letters/1998.02:Hill http://www.cirp.org/AAP/letters/1998-02_Hill
Redirect /AAP/letters/1998.02:NOHARMM http://www.cirp.org/AAP/letters/1998-02_NOHARMM
Redirect /AAP/letters/1998.03:Hill http://www.cirp.org/AAP/letters/1998-03_Hill
Redirect /AAP/letters/1998.07:VanHowe http://www.cirp.org/AAP/letters/1998-07_VanHowe
Redirect /AAP/letters/1998.10:DOC http://www.cirp.org/AAP/letters/1998-10_DOC
Redirect /AAP/letters/1998.02:Goldman.doc http://www.cirp.org/AAP/letters/1998-02_Goldman.doc
Redirect /AAP/letters/1996.02:ACS http://www.cirp.org/library/statements/letters/1996-02_ACS
Redirect /AAP/letters/1996.07:DeSeabra http://www.cirp.org/library/statements/letters/1996-07_DeSeabra
Redirect /AAP/letters/1996.09:Price http://www.cirp.org/library/statements/letters/1996-09_Price
Redirect /AAP/letters/1996.10:AIDS http://www.cirp.org/library/statements/letters/1996-10_AIDS
