Redirect /gepps/care1.htm http://www.cirp.org/gepps/
Redirect /gepps/circ.htm http://www.cirp.org/gepps/
Redirect /gepps/circ1.htm http://www.cirp.org/gepps/
Redirect /gepps/circplas.htm http://www.cirp.org/gepps/
Redirect /gepps/circgom.htm http://www.cirp.org/gepps/
Redirect /gepps/circmog.htm http://www.cirp.org/gepps/
Redirect /gepps/circplas1.htm http://www.cirp.org/gepps/
Redirect /gepps/personal.htm http://www.cirp.org/gepps/
Redirect /gepps/phimosis.htm http://www.cirp.org/gepps/
