Redirect /pages/cultural/rothen.html http://www.cirp.org/pages/cultural/rothenberg.html
Redirect /pages/cultural/rothenberg.htm http://www.cirp.org/pages/cultural/rothenberg.html
Redirect /pages/cultural/cultural.html http://www.cirp.org/pages/cultural/
