Redirect /nocirc/riley/rights.html http://www.cirp.org/library/ethics/milos-macris/
Redirect /nocirc/riley/rights http://www.cirp.org/library/ethics/milos-macris/
Redirect /nocirc/riley/milos.html http://www.cirp.org/library/ethics/milos-macris/
Redirect /pages/riley/rights.html http://www.cirp.org/library/ethics/milos-macris/
Redirect /pages/riley/rights http://www.cirp.org/library/ethics/milos-macris/
Redirect /pages/riley/milos.html http://www.cirp.org/library/ethics/milos-macris/
Redirect /pages/riley/00index http://www.cirp.org/pages/riley/
